<a href="https://colab.research.google.com/github/lemontebros/data-and-python-/blob/main/Copy_of_02_Working_with_numeric_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operators - arithmetic

---

In Python, we can use the following arithmetic operators.  Listen to an explanation of these [here](https://drive.google.com/file/d/1UpUGO8ShCszAv6qH9ApPxKXO_o6Z5Us_/view?usp=sharing)   

![Python operators](https://drive.google.com/uc?id=1EARs0OefvMwAULyNGGs01xYLW3lIAO9B)

#### The `round()` function is useful when working with numbers

**round()**

This will round any decimal number it is given to a whole number (e.g. round(5.7) gives 6, round(5.2) gives 5).  This is more accurate than just taking the whole number part when a whole number is the requested output.

To round to a certain number of decimal places, add the number of places after the number to round.  

e.g. round(5.348, 2) gives 5.35, round(16.42,1) gives 16.4

---
### Exercise 1 - multiplication of integers

**Scenario**
You are working with a dataset about dogs. It contains a set of data on a dog's age.  You have been asked to create a new set of data to record the dog's age in human years (7 times longer)

**Task**

Try this out with just three dog ages.

Write a function called **calculate_dog_human_ages()** which will:  

*  create three integer variables called **dog_age1**, **dog_age2**, **dog_age3**
*  calculate each dog's age in human years by multiplying it by 7, assigning it to a new variable called **dog_human_age1**, etc  
*  print the three ages in human years    

**Test Input**:  
dog_age1 = 6  
dog_age2 = 2  
dog_age3 = 14    

**Expected output**:  
42  
14  
98

In [ ]:
# write your function here, starting with the definition (think about the name - it should say what the function does)
def calculate_dogs_age_into_human_age():
  dog_age1 = int(6)
  dog_age2 = int(2)
  dog_age3 = int(14)
  dog1_human_age = (dog_age1*7)
  dog2_human_age = (dog_age2*7)
  dog3_human_age = (dog_age3*7)
  print (dog1_human_age)
  print (dog2_human_age)
  print (dog3_human_age)
calculate_dogs_age_into_human_age()

42
14
98

---
### Exercise 2 - calculating an average (BIDMAS)

**Scenario**  
A dataset holds a count of scoops of different flavours of ice cream bought from a seafront store during one summer. The owner needs to order for next year and can only order the same amount of each (to get a good discount).  Any flavour that is a way below average will be swapped to increase a flavour that is way above average.  

Each number in the dataset represent the number of a particular flavour sold. The data is on paper and so will have to be typed in.  

**Your task**  
You have been asked to calculate the average number of scoops of each flavour.

Write a function called **calculate_average()** which will:  

*  ask the user for 5 separate numbers, **num1**, **num2**, etc  
*  calculate the **average** of the five numbers
*  print the `average`, rounded to the nearest whole number, use something like:  
 `rounded_average = round(average)`
     
*Hint: remember the BIDMAS order of operators and use brackets to change the order if necessary.*  
*(B) - brackets, (I) - indices, (D) - division, (M) - multiplication, (A) - addition, (S) - subtraction*

**Test Input**:  
311  
514  
985  
1678  
50

**Expected output**:  
708

In [ ]:
def icecream_averager_from_user_input() :

  num1 = float(input("enter number of flavour 1 sold this year"))
  num2 = float(input("enter number of flavour 2 sold this year"))
  num3 = float(input("enter number of flavour 3 sold this year"))
  num4 = float(input("enter number of flavour 4 sold this year"))
  num5 = float(input("enter number of flavour 5 sold this year"))

  average_sold = float(round((num1 + num2 + num3 + num4 + num5)/5))
  print (average_sold)

icecream_averager_from_user_input()

enter number of flavour 1 sold this year311
enter number of flavour 2 sold this year514
enter number of flavour 3 sold this year985
enter number of flavour 4 sold this year1678
enter number of flavour 5 sold this year50
707.6

---
### Exercise 3 - converting values

**Scenario**  
A community health nurse has collected anonymous data about the heights of people who have attended a clinic during the day.  The heights are all recorded in metres.  To get the data ready for storage, the heights must be in centimetres, the last number in the data will be the average height (in cm).  The heights are all written on paper, there are 8 of them.

**Your task**

Write a function called **convert__to_cm()** which will:  

*  ask the user to input the 8 heights (use **height1**, **height2**, etc)  
*  convert each `height` to **height_cm** (multiply by 100)  
*  for each print `height` and `height_centimetres`
*  THEN, calculate the average height and print it rounded to a whole number of centimetres

*Remember, height in metres is usually a decimal, so data type matters*  

**Test Input**:  
1.67  
1.4  
1.62  
1.53  
1.7  
1.35  
1.76  
1.2   

**Expected output**:  
167  
140  
162  
153  
170  
135  
176  
120  
Average  
153

In [42]:
def convert__to_cm() :
  height1 = float(input("height 1 in metres please : "))
  height2 = float(input("height 2 in metres please : "))
  height3 = float(input("height 3 in metres please : "))
  height4 = float(input("height 4 in metres please : "))
  height5 = float(input("height 5 in metres please : "))
  height6 = float(input("height 6 in metres please : "))
  height7 = float(input("height 7 in metres please : "))
  height8 = float(input("height 8 in metres please : "))
  height1_cm = float(height1*100)
  height2_cm = float(height2*100)
  height3_cm = float(height3*100)
  height4_cm = float(height4*100)
  height5_cm = float(height5*100)
  height6_cm = float(height6*100)
  height7_cm = float(height7*100)
  height8_cm = float(height8*100)

  print(height1)
  print(height1_cm)
  print(height2)
  print(height2_cm)
  print(height3)
  print(height3_cm)
  print(height4)
  print(height4_cm)
  print(height5)
  print(height5_cm)
  print(height6)
  print(height6_cm)
  print(height7)
  print(height7_cm)
  print(height8)
  print(height8_cm)

  average_height = float(round((height1_cm + height2_cm + height3_cm + height4_cm + height5_cm + height6_cm + height7_cm + height8_cm)/8))
  print (average_height)

convert__to_cm()

height 1 in metres please : 123
height 2 in metres please : 123
height 3 in metres please : 123
height 4 in metres please : 123
height 5 in metres please : 123
height 6 in metres please : 123
height 7 in metres please : 125
height 8 in metres please : 125
123.0
12300.0
123.0
12300.0
123.0
12300.0
123.0
12300.0
123.0
12300.0
123.0
12300.0
125.0
12500.0
125.0
12500.0
12350.0

---
### Exercise 4 - float and formatting printing

**Scenario**  

At the time of writing, the exchange rate from Pounds (£) to Euros (€) is 1.16 (£1 = €1.16).  A dataset has share prices in pence (not pounds) and will need a new set of data added with the equivalent values in euros.

**Your task**  

Write a function called **convert_currency()** which will:

You will use the file **"sample_data/share_prices.txt"** which should be pre-loaded in this worksheet.  If it isn't then download it from [here](https://drive.google.com/uc?id=17CwpYENup8UyOCma4ohPYQ317mfCfi67) and upload it into the sample data folder.  

Before you start, take a look at the file in the sample data folder (double-click to open it) and decide what type of numbers you are dealing with (int or float?)

*  read an amount in **pence** from the text file "sample_data/share_prices.txt" for each of the first FOUR prices in the list only  
*  convert to **pounds** without rounding
*  calculate the equivalent number of **euros**  
*  print `euros`, rounded to 2 decimal places  

**Test Input**:  
In file "share_prices.txt"

**Expected output**:  
€  
35.66  
30.05  
1.37  
26.19  




*If your keyboard does not have the € euro sign, then you might get it by using ctrl+alt+4*

In [56]:
def GPB_pence_to_euro() :

  with open("sample_data/share_prices.txt", "r") as datafile:
    share1 = float(datafile.readline())
    share2 = float(datafile.readline())
    share3 = float(datafile.readline())
    share4 = float(datafile.readline())
    share1euro = (round(share1*.0116,2 ))
    share2euro = (round(share2*.0116,2 ))
    share3euro = (round(share3*.0116,2 ))
    share4euro = (round(share4*.0116,2 ))

    print("The first four share prices read from share prices.txt as penny amounts and converted to  €")
    print (share1euro)
    print (share2euro)
    print (share3euro)
    print (share4euro)



GPB_pence_to_euro()

The first four share prices read from share prices.txt as penny amounts and converted to  €
35.66
30.05
1.37
26.19

---
### Exercise 5 - rounding

**Scenario**

The *number of thousands* of families visiting a popular seaside attraction, in the winter, spring, summer and autumn, respectively, are given below.

**Your task**

Write a function called **calculate_visitor_stats()** which will:  

*  assign the numbers 3.145, 5.672, 9.34, 4.138 to the variables named for the respective season  
*  calculate the **total** actual number of families over the year (as a whole number)  
*  calculate the **average** number of thousands of families per season, rounded to 2 decimal places
*  calculate the **income** generated over the year from family tickets, priced at £25 per family in the winter, £30 per family in the spring and autumn and £40 per family in the summer  
*  print `total`, `average`, `income` in messages which are labelled (see expected output)   

**Test input**:   
Given above  

**Expected output**:   
Total families  
22295    
Average families per season (1000s)  
5574  
Total income (£)  
746525


*Remember to calculate the average you divide the total by the quantity of numbers, e.g. total/4*

In [16]:
def calculate_visitor_stats() :


  winter_vis = float(1000*3.145)
  spring_vis = float(1000*5.672)
  summer_vis = float(1000*9.34)
  autumn_vis = float(1000*4.138)
  total_vis = round (((winter_vis + spring_vis + summer_vis + autumn_vis)))
  quarter_year_average = round (total_vis/4)
  total_income =round((winter_vis*25)+((spring_vis+autumn_vis)*30)+(summer_vis*40))
  print("Total visitors.")
  print(total_vis)
  print("quarter year average visitor number")
  print(quarter_year_average)
  print("year total income (£)")
  print(total_income)




calculate_visitor_stats()

Total visitors.
22295
quarter year average visitor number
5574
year total income (£)
746525

---
### Exercise 6 - calculating volume

**Scenario**

Bill is a house mover. He has some data on cardboard packing boxes.  The data has the dimensions of packing boxes but not the volume that they hold.  He wants to add an extra piece of data for each that holds the volume.

The calculation will be the same for each set of dimensions, so you should design the logic for this by writing a function that will calculate the volume for one box.  Then the same function can be used for each set of box dimensions.

**Your task**

Write a function called **calculate_volume()** which will:   

*  assign the value 3.2, 5.6 and 7.8 to the variables **base**, **width** and **height** respectively  
*  calculate the **box_volume** rounded to 1 decimal place  
*  print the `box_volume`

*Hint: volume = base x width x height*

Expected output:  
139.8

In [18]:
def calculate_volume():
  base =float(3.2)
  width =float(5.6)
  height =float(7.8)
  vol =round((base*width*height),1)
  print(vol)
calculate_volume()

139.8

---
### Using Floor Division  

So far, we have been using standard arithmetic operators. If we would like to divide without remainders (eg. no decimals) we can use floor division using the // operator.  This will always round down.  

For example:  
42/8 = 5.75  
BUT  
42//8 = 5

There are many cases where this type of division is useful and it is often used alongside the % (modulus) operator, which will give the remainder after the division (ie the bit that got dropped)

---
### Exercise 7 - calculating with volumes

**Scenario**

Bill would like a look up function to help him to calculate how many boxes he will need for a move.  He would like a function that will calculate how many boxes he needs once he has entered the volume of stuff. There can't be any stuff left over so even if the last bit won't fill a whole box, a box is still needed.

**Your task**

Building on what you did in the last exercise, write a function called **calculate_boxes()** which will:  

*  calculate the volume of a box, using a **base** of 3.2, **width** of 5.6 and **height** of 7.8  
*  ask Bill for the **total_volume** of the stuff he needs to move (use input() )  
*  calculate the total **number_of_boxes** he will need, and print the `number_of_boxes`  

*Hint: the `total` will not be a whole number - you should use floor division and add one to the answer (for the box that will have the leftovers).*

Test Input:  
1500  

Expected output:  
11

In [10]:
def calculate_boxes():
  base =float(3.2)
  width =float(5.6)
  height =float(7.8)
  box_vol =(base*width*height)
  total_volume = float(input("Bill! What volume are you packing : "))
  number_of_boxes =(total_volume// box_vol +1)

  print ("you will need this many boxes : ")
  print (round(number_of_boxes))


calculate_boxes()

Bill! What volume are you packing : 1500
 you will need this many boxes :
11

---
### Exercise 8 - parcel charge lookup

**Scenario**

A parcel delivery company needs to use it pricing data to allow desk staff to look up the price based on the weights of each set of parcels to be delivered for a customer.  This will be added to the data being stored

**Your task**
Write a function called **calculate_parcel_weight()** which will:  

*  ask the user to enter the customer_reference, then the weights, in kg, of four parcels (**weight1, weight2, weight3, weight4**)
*  calculate the total **parcel_weight** and display this in a whole number of kg, **always** rounded up to the next kg
*  print the customer's reference followed by the total `parcel_weight`

*Hint: if you use round(), it could either round up or down. In this scenario, we always need to round up.  Floor division could be a better option - always round down and then add one.  This way 8.11kg will be recorded as 9kg in the same way as 8.77kg would be charged as 9kg so that as long as it is **at least** 8kg, it is recorded as 9kg.* (dealing with exactly 8kg will be left for a later version)

**Test Inputs**:  
CUST1
1.23  
2.84  
1.675  
3.03  

**Expected output**:  
CUST1, 9kg

In [12]:
def calculate_parcel_weight():
  customer_reference =str(input("Customer reference: "))
  weight1 =float(input("Weight of parcel 1 : "))
  weight2 =float(input("Weight of parcel 2 : "))
  weight3 =float(input("Weight of parcel 3 : "))
  weight4 =float(input("Weight of parcel 4 : "))
  parcel_weight =((weight1+weight2+weight3+weight4)//1+1)
  print(customer_reference, " ", parcel_weight, "KG")




calculate_parcel_weight()

Customer reference: ASD
Weight of parcel 1 : 2
Weight of parcel 2 : 2
Weight of parcel 3 : 2
Weight of parcel 4 : 2
ASD   9.0 KG

---
### Exercise 9 - modulus

**Scenario**

Your data analyst has some data which contains timestamps relating to activity that only happens in the afternoon.  These are stored in 24 hour format (e.g. 1350). The analyst needs to create two new columns in the dataset, one for the hour and one for the minutes, in 12 hour format (e.g. 1.50pm).  You have been asked to create a prototype for this so that it can be added to the data handling system.  

**Your task**  

Write a function called **get_pm_minutes()** which will:  

*  ask the user to enter an afternoon **time** in 24 hour clock (e.g. 1350)
*  use floor division to get the **hour** (ie divide by 100)  
*  use modulus (%) to get the **minutes**  
*  subtract 12 to get the 12 hour clock storing the result back in `hour`      
*  print a message to say that It is `minutes` minutes past `hour` PM

**Test Input**:  
1350  

**Expected output**:  
It is 50 minutes past 1 PM

*(Is it possible to use this code to get the right hour for a morning time?  You will do this in the section that allows selection depending on value)*

In [16]:
def get_pm_minutes():
  time =float(input("enter the time: "))
  hour =round(time//100-12)
  minutes =round(time%100)
  print("It is ", minutes, " past ", hour, " PM")

get_pm_minutes()

enter the time: 1545
It is  45  past  3  PM

---
### Exercise 10 - How many tins of beans?  

**Scenario**

A factory keeps a set of data relating to all the different size boxes it has available for shipping tins of beans.  They would like a look up that can take the dimensions of a box and calculate how many tins can be stacked in the box.  Tins will stand upright and will be stored in layers, so a number of tins will line the base, then the same number of tins will sit on top, until the box is full to the top, without space to fit any more layers.

**Your task**

Write a function called **calculate_tins()** that will calculate how many tins of beans will fit in a cardboard box. Bean tins are *11cm tall* and *8cm* diameter.  All tins will be standing up and can be stacked in layers.  

*  ask the user to enter the **height**, **width** and **depth** of the box as follows: height - 24, width - 50, depth - 18     
*  calculate the **number_of_tins** that can fit in the box   
*  print the `number_of_tins` that can fit  

*Hint: you will need to calculate the number of layers, and the number that will fit in each direction, the product (all of the numbers multiplied together) will tell you how many tins. All answers must be whole numbers*  

**Test input**  
24
50
18

**Expected output**:  
24

In [23]:
def calculate_tins():
  height =float(input("Box height : "))
  width =float(input("Box width : "))
  depth =float(input("Box depth : "))



  tins_along_width =(width//8)
  tins_along_depth =(depth//8)
  how_many_layers =(height//11)
  print(round(tins_along_width*tins_along_depth*how_many_layers))

calculate_tins()

Box height : 24
Box width : 50
Box depth : 18
24

---
# Takeaways from this worksheet
* standard operators are used with numeric data to calculate new data
* apart from the standard BIDMAS (Brackets, Indices, Division, Multiplication, Addition, Subtraction) other useful operators are floor division, which gets the whole number answer from a division, and modulus, which gets the remainder after the division.
* the round() function can be used to round any float number to a number of decimal places.  If you don't specify how many decimal places, it will rount to a whole number.
* although a lot of problems requires mathematical calculations, the problems are about working out the logic, so that you know what operations, and which data, to choose.

---
# Your thoughts on what you have learnt
Please add some comments in the box below to reflect on what you have learnt through completing this worksheet, and any problems you encountered while doing so.

Very interesting as i had disregarded long division as pointless in life till now.

starting to find it easier to get syntax mostly right first time